<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <meta https-equiv="Content-Security-Policy" content="default-src *;" />
    <style>

        audio {
            width: 100%;
            max-width: 500px;
            margin: 10px auto;
            display: block;
            background-color: #f1f1f1;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>

<h1>This is an admin panel</h1>
<div class="player">
    <div class="player-track">
        <div class="artist-name"></div>
        <div class="music-name"></div>
        <div class="progress-bar">
            <div class="fillBar"></div>
        </div>
        <div class="time"></div>
    </div>
    <div class="circle">
        <div class="circ"></div>
        <img src="https://github.com/cuneydbolukoglu/CodePen/blob/master/audioplayer/img/free.jpg?raw=true" alt="">
    </div>
    <div class="player-control">
        <i id="prev" class="fas fa-backward"></i>
        <i id="play" class="fas fa-play"></i>
        <i id="next" class="fas fa-forward"></i>
    </div>
</div>
<a target="_blank" href="https://github.com/cuneydbolukoglu">
    <i class="fab fa-github github"></i>
</a>

<audio preload="true" id="myaudio" controls>
    <source type="audio/mpeg" class="audio-source">
    Your browser does not support the audio element.
</audio>

<% list.forEach(music => { %>
    <p style="padding: 10px" onclick="play(`<%= music; %>`)"><%= music; %></p>
<% }); %>

</body>
<script src="jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src='/js/admin.js'></script>
</html>